<div class="container">
    <h2 class="title">
    {{menutitle}}
</h2>
    
       <h3>{{data.category.name}}</h3>
        <ul>
            <li ng-repeat="product in data.product">{{product.name}} - {{product.price|currency}} </li>
        </ul>
        
    <form ng-app="" ng-controller="validateCtrl" name="myForm" >
    
    <p><input type="text" name="user" ng-model="user" required>
    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span ng-show="myForm.user.$error.required">Username is required.</span>
  </span></p>
   
    <p><input type="email" name="email" ng-model="email" value={{email}} required>
     <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span></p>
   
    <p> <input type="submit"ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">
   <button ng-click="reset1()">Reset</button></p>
     
      </form>
      
<div data-ng-app="" data-ng-init="quantity=1;price=5">

<h2>Cost Calculator</h2>

Quantity: <input type="number" ng-model="quantity">
Price: <input type="number" ng-model="price">

<p><b>Total in dollar:</b> {{quantity * price| currency}}</p>
</div>
<div ng-app="">
<p>My first expression: {{ 5 + 5 }}</p>
</div>

<div ng-app="" ng-init="quantity=1;cost=5">
<p>Total in dollar: <span ng-bind="quantity * cost"></span></p>
</div>

<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
<p>The name is {{ person.lastName|lowercase }}</p>
</div>

<div ng-app="" ng-init="points=[1,15,19,2,40]">
<p>The third result is {{ points[2] }}</p>
</div>

<div ng-app="myApp" ng-controller="myCtrl">
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name:<span ng-bind="fullname()"></span></p>
</div>

<div ng-app="" ng-controller="namesCtrl">
<input type="text" ng-model="test">
<button ng-click="toggle()">Hide user</button>
<table ng-hide="myVar">
  <tr ng-repeat="x in names|filter:{Name:test}">
   <td>{{ $index + 1 }}</td>
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>
</div>

<div ng-app="">
<button ng-disabled="mySwitch" class="btn btn-danger">Click Me!</button>
<input type="checkbox" ng-model="mySwitch">Button
</div>

<div ng-app="" ng-controller="mycntrl">
<button ng-click="count=count+1" class="btn btn-danger">Click Me!</button>
<span>{{count}}</span>
<button ng-click="reset()">RESET</button>
</div>

</div>
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>